<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.demos">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ZhihuActivity"
            android:label="仿知乎滑动隐藏" />
        <activity android:name=".ui.ElemeSearchActivity" />
        <activity android:name=".ui.SearchActivity" />
        <activity android:name=".ui.BezierActivity"></activity>
    </application>

</manifest>